.sidebarContainer {
  display: flex;
  height: 100%;
}

.iconSidebar {
  width: 60px;
  background-color: #222222;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.categorySidebar {
  width: 190px;
  background-color: #111;
  padding: 20px 10px;
  overflow-y: auto;
}

.logoCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #890e1b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.logoImage {
  width: 30px;
  height: 30px;
}

.closeButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b22222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: none;
}

.closeButton:hover {
  background-color: #d42828;
}

.forumIconCircle,
.artdeskIconCircle {
  width: 40px;
  height: 40px;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.2s;
}

.forumIconCircle:hover,
.artdeskIconCircle:hover {
  background-color: #b22222;
}

.iconLink {
  text-decoration: none;
  color: white;
}

.redHeader {
  background-color: #9d2431;
  color: white;
  padding: 8px;
  margin-bottom: 4px;
}

.forumHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.subCategory {
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}

.sectionContainer {
  margin-bottom: 20px;
}

.categoryContainer {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .closeButton {
    display: flex;
  }
}