.profileBar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #444;
    padding: 5px 15px;
    border-radius: 8px;
    width: 200px;
    height: 40px;
  }
  
  .profilePic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .username {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  
  .profileLink {
    text-decoration: none;
    color: inherit;
  }  