.sidebarContainer {
    display: flex;
    height: 100vh;
  }
  
  .iconSidebar {
    width: 64px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }
  
  .iconLink {
    margin-bottom: 24px;
    text-decoration: none;
  }
  
  .logoCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #890e1b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logoImage {
    width: 32px;
    height: 32px;
  }
  
  .forumIconCircle {
    width: 40px;
    height: 40px;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .artdeskIconCircle {
    width: 40px;
    height: 40px;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .categoryContainer {
    padding: 8px;
    margin-top: 16px;
  }
  
  .redHeader {
    background-color: #9d2431;
    padding: 8px;
    margin-bottom: 4px;
  }
  
  .forumHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sectionContainer {
    margin-bottom: 16px;
  }
  
  .mainContent {
    flex: 1;
    background-color: #222222;
    padding: 24px;
  }
  
  .mainHeading {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
  }
  
  .mainText {
    color: white;
  }